NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/worknest?retryWrites=true&w=majority
JWT_ACCESS_SECRET=replace_with_a_random_32plus_character_string
ACCESS_TOKEN_TTL=15m
CLIENT_ORIGIN=http://localhost:5173
BCRYPT_COST=12